# Build directories
build/
bin/
lib/

# Compiled files
*.o
*.a
*.so
*.dylib
*.out

# Executables
RubikX3D

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Compilation database
compile_commands.json

# Documentation
docs/

.history

